# PHP project basis
composer.lock
phpunit.xml
vendor/*

# Project specifics
etc/config.php
etc/nginx/nginx.conf
public/asset/img/icons/backup

# Eclipse IDE files
.buildpath
.metadata
.project
.settings
